@model WaveChat.Models.ChatModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    @{ 
        Model.SearchModel = Model.SearchModel.GroupBy(x => x.Id).Select(y => y.First()).ToList();
    }

    <p>Results found: @Model.SearchModel.Count</p>

    <div class="list-group">
        @foreach (var item in Model.SearchModel)
        {
        <div id = @item.Id class="perItem list-group-item list-group-item-action" style="vertical-align: middle;display: table-cell;">

            @if (item.Status)
            {
                <i class="fas fa-dot-circle fa-sm" style="color:forestgreen"></i>

            }
            else
            {
                <i class="fas fa-dot-circle fa-sm" style="color:darkred"></i>
            }

            @Html.Label("label", item.FirstName + " " + item.LastName, new {@style = "display: inline-block", @id="choosedPerson" })
        </div>
        }
    </div>


