@model WaveChat.Models.ChatModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <p>Results found: @Model.SearchModel.Count</p>
        <div class="list-group">
            @foreach (var item in Model.SearchModel)
            {
                //@Html.ActionLink(item.FirstName + " " + item.LastName, "SelectConf", "Home", null, new {@id=item.Id, @class = "list-group-item list-group-item-action perItem"})
                @Html.Label("label", item.FirstName + " " + item.LastName, new { @id = item.Id, @class = "perItem list-group-item list-group-item-action"})
            }

        </div>


