@using Microsoft.AspNetCore.Identity;

@model WaveChat.Models.ChatModel
@inject UserManager<WaveChat.Areas.Identity.Data.WaveChatUser> UserManager
@{
    ViewData["Title"] = "Strona domowa";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-1.10.2.js"
            integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
            crossorigin="anonymous"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <link rel="stylesheet" href="~/css/font-awesome/css/all.css" />
</head>

<body onload="_init()">
    <div class="container">
        <div class="row w-100" >
            <div class="col-md-4" style="background-color: #f1f2f6; border-radius: 4px 4px 4px 4px;">

                <div class="input-group" style="margin-top: 2%;">
                    <input type="text" class="form-control" id="searchBox" placeholder="Search..." autocomplete="off" aria-label="Search..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="Person" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <hr>
                <div id="searchBar">

                </div>
            </div>
           
            <div class="col-md-6">
                <div class="form-group">
                    <div class="card" id="headingContainer">
                        <div class="card-body">
                            <h4 id="convHeader"></h4>
                        </div>
                    
                    </div>
                    
                    <div id="div1" class="area">
                        <span style="height: 10px;display:inline-block"></span>
                        <div class="scrollbar-morpheus-den" id="msglist" style=" overflow:auto;">
                        </div>
                    </div>
        
            <hr>
            <div style="display: inline-block;
                margin: 0px 10px 0px 0px;">

            <!-- <form asp-controller="Home" id="sendForm" asp-action="SendMessage" data-ajax="true" data-ajax-method="POST">
                <div class="form-group" style="display:flex ;align-items: center;">
                    
                    @Html.TextBoxFor(m => m.MessageModel.Message, new
               {
                   @class = "form-control",
                   @id = "inlineFormInputName",
                   @placeholder = "Enter message...",
                   @style = "display: inline;",
                   @autocomplete = "off"
               })
                <span style="width: 1rem; display: inline;"></span>
                <button id="sendBut" style="display: inline;" class="btn btn-primary" type="submit" formmethod="post"><i class="fas fa-paper-plane"></i></button>
                </div>
                
            </form> -->


            <form id="sendForm">
                <div class = "form-group" style="display:flex ;align-items: center;">
                    <input id="inlineFormInputName" class="form-control" style="display: inline" autocomplete = "off" placeholder = "Enter message...">
                    <span style="width: 1rem; display: inline;"></span>
                    <button id="sendBut" style="display: inline;" class="btn btn-primary" type="submit" formmethod="post"><i class="fas fa-paper-plane"></i></button>
                </div>
            </form>
            </div>
        </div>

        
    <script>


        function getId(){
            return "@UserManager.GetUserAsync(User).Result.Id";
        }

    </script>
    <script src="../js/connection.js" charset="utf-8"></script>
    <script src="../js/search.js" charset="utf-8"></script>

    </div>
    </div>
</body>



</html>
